html {
  font-size: 16px;
}

body {
  background-color: #dcdcdc;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.h1 {
  font-size: 3rem;
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 1.5rem;
  grid-auto-flow: dense;
  box-sizing: border-box;
}

.col-3 {
  position: relative;
  grid-column: span 3;
  grid-row: span 1;
}

.col-5 {
  position: relative;
  grid-column: span 5;
  grid-row: span 1;
}

.col-6 {
  position: relative;
  grid-column: span 6;
  grid-row: span 1;
}

/* Button */

button {
  border: none;
  background-color: transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

button svg {
  fill: #0a0a0a;
}

button svg :hover {
  fill: #ecfffe;
  -webkit-filter: drop-shadow(0 0 1rem #55fff7c);
  filter: drop-shadow(0 0 1rem #55fff7);
}

/* Collapse */

.capsule button {
  width: fit-content;
  height: fit-content;
}

.capsule {
  cursor: pointer;
  justify-self: end;
  align-self: center;
  color: #444;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.capsule:hover {
  background-color: none;
}

.panel {
  position: relative;
  grid-column: span 6;
  grid-row: span 2;

  max-height: 0;
  overflow: hidden;

  transition: max-height 0.5s ease-out;
}

.info-button {
  width: 2rem;
  cursor: pointer;
}

/* Sortable */

.metalist {
  padding-top: 1rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

i {
  cursor: move;
  padding-right: 1rem;
}
