@font-face {
  font-family: "BT";
  src: url("../fonts/serif.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "TeX";
  src: url("../fonts/texgyreheroscn-italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "TeX";
  src: url("../fonts/texgyreheroscn-regular.woff") format("woff");
  font-style: normal;
}

:root {
  --padding: 1.5rem;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #eaebee;
  --color-darkgrey: #0f1113;
  --color-light: #c6fbff;

  --color-text: var(--color-darkgrey);
  --color-text-light: var(--color-light);
  --color-background: var(--color-grey);
  --color-accordionbg: var(--color-darkgrey);
  --color-svg: var(--color-darkgrey);
}

::selection {
  color: var(--color-white);
  background: var(--color-black);
}

input,
textarea,
button,
select,
div,
a,
div:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}

html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  cursor: crosshair;
  color: var(--color-text);
}

body {
  margin: 1rem 2rem 6rem;
  background-color: var(--color-background);

  font-family: "BT";
}

svg {
  fill: var(--color-svg);
}

nav {
  padding-bottom: 1.5rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

h1,
.h1 {
  font-family: "BT";
  font-weight: 500;
  font-size: 2rem;
  line-height: 105%;
  -webkit-transform: scaleX(0.85);
  transform: scaleX(0.85);
  transform-origin: left;
  letter-spacing: -0.06em;

  margin: 0;
}

h2,
.h2 {
  font-family: "TeX";
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.02em;

  margin: 0;
}

p {
  margin: 0;

  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.05em;
}

figure {
  margin: 0;
}

:focus-visible {
  outline: none !important;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

::-webkit-scrollbar-track {
  border: 0 solid #e6e6e600;
  border-radius: 0;
}
/* 
::-webkit-scrollbar-thumb {
  background: #00000000;
} */

/* Arrange */

#header {
  position: fixed;
  width: 45%;
}

#metalist {
  width: 50%;
  margin: auto 0 auto auto;
}

/* Button */

.button {
  border: none;
  background-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  .arrow:hover {
    filter: blur(2px);
  }

  .arrow:hover {
    animation: blinking 0.1s infinite;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a:hover,
a:-webkit-any-link {
  cursor: crosshair;
}

a,
.light {
  background-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  .light:hover .element {
    color: var(--color-white);

    filter: blur(0.05rem);
    animation: dimming 0.1s infinite;
  }

  button.light:hover,
  a:hover {
    color: var(--color-white);
    background-color: var(--color-black);

    filter: blur(0.04rem);
    animation: dimming 0.1s infinite;
  }
}

@keyframes dimming {
  0% {
    text-shadow: 0.25rem 0.25rem 0.6rem rgba(21, 199, 255, 0.65),
      -0.25rem -0.25rem 0.6rem rgba(21, 199, 255, 0.65);
  }

  100% {
    text-shadow: -0.25rem 0.25rem 0.6rem rgba(21, 199, 255, 0.65),
      0.25rem -0.25rem 0.6rem rgba(21, 199, 255, 0.65);
  }
}

#control {
  position: fixed;
  display: flex;
  bottom: 1.5rem;
  z-index: 999;
}

#expand-all,
#close-all {
  border: none;
}

/* Info Capsule */

.capsule button {
  width: fit-content;
  height: fit-content;
}

.capsule {
  display: flex;
  align-self: center;
  transition: 0.4s;
}

.capsule:hover {
  background-color: none !important;
}

.top-panel {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.social {
  padding-top: 1rem;

  font-family: "TeX";
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* Project Capsules */

.accordion {
  cursor: crosshair;
  border: none;
  text-align: left;
  outline: none;
  padding: 1.2rem 0;
}

.handle {
  cursor: grab;
  padding: 0 1rem;
}

.element,
.handle {
  display: flex;
  align-items: center;
}

.active #handle-icon {
  fill: var(--color-light);
}

.active {
  background-color: var(--color-accordionbg);
  color: var(--color-white);
}

@media (hover: hover) and (pointer: fine) {
  .accordion:hover #handle-icon {
    fill: var(--color-light);
  }

  .accordion:hover {
    background-color: var(--color-accordionbg);
    color: var(--color-white);
  }
}

.accordion:after {
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.panel-container {
  padding-bottom: 4rem;
}

.description {
  padding: 0.5rem 1rem;
}

.single {
  width: 100%;
}

.

/* Sortable */

.metalist {
  padding-top: 1rem;
}

.list-group-item {
  position: relative;
  display: block;

  margin-bottom: -1px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: var(--color-grey);
}

.swiper-lazy {
  width: 100%;
}

/* ---------------------------- MEDIA QUERY ---------------------------- */

@media only screen and (max-width: 1600px) {
  /* Arrange */
  #header {
    width: 35%;
  }

  #metalist {
    width: 60%;
  }

  h1 {
    font-size: 1.35rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  /* Info Capsule */
  .intro {
    grid-column: span 7;
  }

  .capsule {
    justify-self: end;
  }

  .top-panel {
    grid-column: span 7;
  }

  .panel-container {
    padding-bottom: 2rem;
  }

  .social {
    font-size: 1.1rem;
  }

  .arrow {
    width: 24px;
  }
}

@media only screen and (max-width: 1380px) {
  body {
    margin: 1rem 1rem 4rem;
    font-size: ;
  }

  /* Arrange */

  #header {
    position: relative;
    width: 100%;
  }

  #metalist {
    width: 100%;
    margin: 0;
  }

  h1,
  .h1 {
    font-size: 2rem;
  }

  h2,
  .h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.875rem;
  }

  .top-panel {
    grid-column: span 7;
  }

  .accordion {
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin: 1rem 0.8rem 4rem;
  }

  h1,
  .h1 {
    font-size: 1.3rem;
  }

  h2,
  .h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  #control {
    right: 1rem;
  }

  .panel-container {
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  body {
    margin: 1rem 0 3.5rem;

    font-size: 0.7rem;
  }

  #header {
    padding: 0 1rem 1rem 1rem;
  }

  h1,
  .h1 {
    font-size: 1.2rem;
  }

  h2,
  .h2 {
    font-size: 0.95rem;
  }

  .social {
    padding-top: 0.5rem;
    font-size: 0.9rem;
  }
}
